* {
    margin: 5px;
}
.grid-container {
    margin-top: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 270px) repeat(2, 200px);
    grid-auto-rows: minmax(50px, auto);
}

.header {
    grid-column: 1/-1;
}

.first-col-item {
    grid-column: 1/2;
}

.second-col-item {
    grid-column: 2/3;
}

.third-col-item {
    grid-column: 3/4;
}

.fourth-col-item {
    grid-column: 4/5;
}

.second-row-item {
    grid-row: 2/3;
}

.third-row-item {
    grid-row: 3/4;
}

.fourth-row-item {
    grid-row: 4/5;
}

.border {
    border: 2px solid green;
}

.bottom-left {
    bottom: 5%;
    right: 5%;
    position: fixed;
}
.desc-textfield {
    width: 30vh;
    height: 150px;
}
